html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #111111;
}

.editor-container,
.editor {
  height: 100%;
  overflow: hidden;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}

.pad-left {
  margin-left: 8px;
}

.pad-top {
  margin-top: 3px;
}

#app,
#main {
  height: 100%;
}

#main {
  display: flex;
  align-items: stretch;
}

.cycle-input {
  max-width: 70px;
}

.info-title {
  min-width: 110px;
}

.ctrl-btn {
  min-height: 40px;
  min-width: 40px;
}

.code {
  background-color: white;
  color: black;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.panel-area {
  overflow: auto;
  min-width: 200px;
  max-height: 97vh;
}

/* Markdown overrides */

.markdown-body {
  color: inherit;
}

.markdown-body code {
  background-color: white;
  color: black;
}

.markdown-body table {
  color: black;
}
