html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #36393f;
  color: #dcddde;
  font-family: "Roboto";
}

.vm-container {
  display: flex;
  height: 100%;
}

.vm-container-inner {
  display: flex;
  margin: auto;
}

.editor-container,
.editor {
  height: 100%;
  overflow: hidden;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}

.pad-left {
  margin-left: 8px;
}

.pad-top {
  margin-top: 3px;
}

#app {
  height: 100%;
}

.cycle-input {
  max-width: 70px;
  text-align: right;
  font-family: "Roboto Mono";
}

.player-id-input {
  max-width: 100px;
}

.ctrl-btn {
  min-height: 40px;
  min-width: 40px;
}

.code {
  background-color: #eeeeee;
  color: black;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: "Roboto Mono";
}

summary {
  cursor: pointer;
}

.info {
  font-size: 0.9em;
}

.vm-left-panel {
  margin-left: 1em;
  padding-left: 1em;
  min-width: 200px;
  overflow: auto;
  direction: rtl;
}

.vm-left-panel div {
  direction: ltr;
}

.state-panel > div {
  min-width: 100px;
}

canvas {
  cursor: pointer !important;
  margin: 0 1em;
}

.flexlayout__tab {
  background-color: #36393f;
  color: #dcddde;
}

/* Markdown overrides */

.markdown-body {
  color: inherit;
  padding: 0.5em;
}

.markdown-body code {
  background-color: white;
  color: black;
}

.markdown-body table {
  color: black;
}
