:root {
  --main-bg-color: #2e3440;
  --main-text-color: #0c1a3d;
}

.flexlayout__layout {
  --color-tab-selected-background: #2e3440;
  --color-tabset-background: #404040;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--main-bg-color);
  color: #dcddde;
  font-family: "Roboto";
}

input[type="radio"]:after,
input[type="radio"]:checked:after {
  width: 11px;
  height: 11px;
  border-radius: 11px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  background-color: #81a1c1;
}

.panel {
}

.panel-content {
  display: flex;
  flex-direction: column;
}

.spaced > *:not(:last-child) {
  margin-bottom: 0.3em;
}

.vm-container {
  display: flex;
  height: 100%;
}

.vm-container-inner {
  display: flex;
  margin: auto;
}

.option-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-values-setting {
  display: flex;
  justify-content: space-between;
}

.section-title-line {
  border-bottom: 2px solid #dcddde;
  text-align: center;
  width: 100%;
  height: 10px;
  margin: 1em 0;
}

.section-title-text {
  background-color: var(--main-bg-color);
  padding: 0 1em;
}

.coverage-container {
  display: flex;
  width: 100%;
  height: 1em;
  border-radius: 1em;
  overflow: hidden;
}

.selections-container > div:not(:last-child) {
  margin-bottom: 1em;
}

.empty-selections-tip,
.add-more-selections-tip {
  font-style: italic;
  font-size: smaller;
}

.editor-container,
.editor {
  height: 100%;
  overflow: hidden;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}

.pad-left {
  margin-left: 8px;
}

.pad-top {
  margin-top: 3px;
}

#app {
  height: 100%;
}

.cycle-input {
  max-width: 70px;
  text-align: right;
  font-family: "Roboto Mono";
  background-color: #eeeeee;
  border: none;
}

.cycle-input::-webkit-inner-spin-button,
.cycle-input::-webkit-outer-spin-button {
  opacity: 1;
}

.player-id-input {
  max-width: 100px;
}

.ctrl-btn {
  min-height: 40px;
  min-width: 40px;
}

.ctrl-btn-inner {
  display: flex;
  align-items: center;
}

.ctrl-icon {
  max-width: 24px;
  max-height: 24px;
}

.ups-counter {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.code {
  color: black;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: "Roboto Mono";
}

.code-light {
  background-color: #eeeeee;
}

.code-dark {
  background-color: #303030;
}

summary {
  cursor: pointer;
}

.icon-medal {
  width: 18px;
  height: 18px;
  float: right;
}

.info {
  font-size: 0.9em;
}

.vm-left-panel {
  padding-left: 1em;
  width: 14em;
  overflow: auto;
  direction: rtl;
}

.vm-left-panel div {
  direction: ltr;
}

canvas {
  cursor: pointer !important;
  margin: 0 1em;
}

.flexlayout__tab {
  background-color: var(--main-bg-color);
  color: #dcddde;
}

.player-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-header-container > * {
  margin-right: 1em;
}

.player-header-name {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* */
.player-input-container {
  height: 0.8em;
  padding: 0.2em 0.2em 0.4em 0.2em;
  border-radius: 0.3em;
  background-color: white;
}

.player-input-container-inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 0.2em;
}

.player-input-container-inner:focus-within {
  border-color: black;
}

.player-input {
  border: none;
  font-family: "Roboto Mono";
}
.player-input:focus {
  outline: none;
}

.player-input-buttons {
  display: flex;
  flex-direction: column;
  width: 1em;
}

.player-input-button {
  height: 50%;
  background: none;
  border: none;
}

.player-input-button > svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  fill: #606060;
}

.player-input-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* */
input[type="color"] {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

/* Tooltips (from: https://stackoverflow.com/a/25813336/1592289) */

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  padding: 0.5em;
  color: var(--main-text-color);
  border-radius: 0.2em;
  /* box-shadow: 2px 2px 1px silver; */
}

[data-tooltip]:hover:before {
  opacity: 1;

  background: #ffffff;
  margin-top: -50px;
  margin-left: 20px;
}

.tooltip-btm[data-tooltip]:hover:before {
  margin-top: 50px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}

/* Markdown overrides */

.markdown-body {
  color: inherit;
  padding: 0.5em;
}

.markdown-body code {
  background-color: white;
  color: black;
}

.markdown-body table {
  color: black;
}
